.App {
  font-family: sans-serif;
  text-align: center;
}
/*
body,
html {
  margin: 0;
  width: 100%;
  height: 1400vh;
  background-color: hsl(60, 36%, 100%);
} */

#container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  /* background-color: #fff; */
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
div {
  font-size: 0px;
}
