@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Avenir';
  src: url('../public/fonts/AvenirNextLTPro-Regular.otf');
}

@media only screen and (min-width: 600px) {
  /* For mobile phones: */
  html,
  body {
    scroll-snap-type: y proximity;
  }
}

html,
body {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  font-family: 'custom';
  /* enable or disable it to toggle between scroll snapping */
}

section {
  scroll-snap-align: start;
  /* scroll-snap-stop: always; */
  position: relative;
}

/* preloader */
.preloader {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden !important;
}
.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 280px;
  font-size: 20px;
  overflow: hidden;
  font-weight: 800;
  opacity: 0;
  color: white;
}

/* triangle */
.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 118px 200px 118px;
  border-color: transparent transparent #000000 transparent;
}

/* Footer*/
.wave-container {
  height: 40vh;
  background-color: #000000;
  position: relative;
}

.wave-container::before {
  content: "";
  width: 100%;
  height: 114px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 69vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  80' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 59L50 55C100 51 200 44 300 30C400 15 500 -6 600 1C700 8 800 44 900 59C1000 73 1100 66 1150 62L1200 59V80H1150C1100 80 1000 80 900 80C800 80 700 80 600 80C500 80 400 80 300 80C200 80 100 80 50 80H0V59Z' fill='%23ffffff'/></svg>");
}

@media (max-width: 850px) {
  .wave-container::before {
    height: 57px;
  }
}

/*  */
.wiggle-animation {
  animation: wiggle 1.5s ease-in infinite;
}

input {
  z-index: 10;
}

/*


*/
.triangle {
  display: block;
  position: relative;
  height: 140px;
  width: 160px;
}
.triangle:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  border-bottom: 140px solid #2bd5b4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.triangle a {
  display: block;
  text-align: center;
  height: 20px;
  width: 20px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
